/* font-family: 'Rajdhani', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'PT Mono', monospace; */

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.App {
  text-align: center;
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width:100%;
}



.jokebox{
  width: 60vw;
  margin-right: 10vw;
  margin-left: 10vw;
  /* display: flex;
  align-items: flex-start;
  justify-content: center; */
  flex-wrap: wrap;
  background-image: url('./iMac.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}



.joke {
    /* display: flex;
    justify-content: center;
    align-items: flex-start; */
    height: 40vh;
    width: fit-content;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-right: 20%;
    padding-left: 20%;
    font-size: medium;
    margin: auto;
  }

.joketext {
  background-color: rgba(3,218,207,0.5)
}

#mainheader {
  font-family: 'Orbitron', sans-serif;
  font-size: 5em;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

#subheader {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;
  color: #BB86FC
}

button {
  font-family: 'Orbitron', sans-serif;
  padding: 5px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #CF6679;
  border: none;
  border-radius: 5px;

}

button:hover {background-color: #03DAC5)}

button:active {
  background-color: rgb(218, 216, 216);
  /* box-shadow: 0 5px rgb(218, 216, 216); */
  transform: translateY(4px);
}

@media only screen and (max-width: 600px) {
  body {
    height: auto;
    flex-wrap: wrap;
  }
  
  #mainheader {
    font-size: 3em;
  }

  #subheader {
    font-size: 1.5em;
  }
 

  .jokebox{
    background-image: none;
    width: 100%;
    max-height: 60vh;
    height: fit-content
  }
}